<a href="https://colab.research.google.com/github/mustangsky/Part1Project1/blob/main/Resubmit_Project_1_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNCTIONS WE USED IN THIS ASSIGNMENT**

In [ ]:
###########################################################################################################################
#   info(): prints information about the DataFrame.                                                                       # 
#   describe(): It gives description contains these information for each column: count - The number of not-empty values.  #
#   shape: It prints rows and columns counts.                                                                             # 
#   dtypes: prints data types of each columns.                                                                            #
#   duplicated(): check duplicates values.                                                                                #
#   isnull(): check null values.                                                                                          #
#   unique(): print unique values from columns.                                                                           #  
#   min: print min of data.                                                                                               #
#   max: print max of data.                                                                                               #
#   mean: print mean of data.                                                                                             #
###########################################################################################################################

**Importing libraries**

In [1]:
import pandas as pd

Mount drive

In [2]:
#connect with drive to get data from drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Import dataset**

In [3]:
df=pd.read_csv('/content/drive/MyDrive/Coding Dojo/sales_predictions.csv')

# display top 5 data
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
# display bottom 5 data

df.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

 **info of data**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

**Description of data**

In [5]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

**How many rows and columns?**

In [6]:
print("We have",df.shape[0],"rows",df.shape[1],"columns")

We have 8523 rows 12 columns

**What are the datatypes of each variable?**

In [7]:
print("Datatypes of each variables are: \n")

print(df.dtypes)

Datatypes of each variables are:

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

**Are there duplicates? If so, drop any duplicates.**

In [8]:
# check for duplicated values, if present then drop the duplicated values

if df.duplicated().sum()==0:
  print(df.duplicated().sum())
  print('No duplicates values')
else: 
  print("We found duplicated values") 
  df.drop_duplicates(keep=False, inplace=False)
  print("we dropped duplicates values")

0
No duplicates values

**Identify missing values.**

In [9]:
# showing the count of null values in each column

print(df.isnull().sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

**Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).**

---
*We can see **Item_Weight** and **Outlet_Size**  contain missing values. We are filling Item_Weight missing values with mean becuase item should have we can't fill it with zero so we are taking "**mean**" insted of zeros. Outlet_Size with "**UNKNOWN**" because it is categorical data.*

---

In [10]:
# replacing null values

df['Item_Weight'].fillna((df['Item_Weight'].mean()), inplace=True)

df['Outlet_Size'].fillna("UNKNOWN", inplace=True)

**Confirm that there are no missing values after addressing them.**

In [11]:
print(df.isnull().sum())

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

**Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent).**

In [12]:
# gives unique values in the Item_Fat_Content column

df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [13]:
# convert the data to lower case to avoid inconsistent problems

df['Item_Fat_Content']=df['Item_Fat_Content'].apply(lambda x: x.lower())

In [14]:
# gives unique values in the Item_Type column

df['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [15]:
# convert the data to lower case to avoid inconsistent problems

df['Item_Type']=df['Item_Type'].apply(lambda x: x.lower())

In [16]:
# gives unique values in the Outlet_Size column 

df['Outlet_Size'].unique()

array(['Medium', 'UNKNOWN', 'High', 'Small'], dtype=object)

In [17]:
# convert the data to lower case to avoid inconsistent problems

df['Outlet_Size']=df['Outlet_Size'].apply(lambda x: x.lower())

In [18]:
# gives unique values in Outlet_Location_Type column

df['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [19]:
# convert the data to lower case to avoid inconsistent problems

df['Outlet_Location_Type']=df['Outlet_Location_Type'].apply(lambda x: x.lower())

In [20]:
# gives unique values in Outlet_Type column

df['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [21]:
# convert the data to lower case to avoid inconsistent problems

df['Outlet_Type']=df['Outlet_Type'].apply(lambda x: x.lower())

**We converted all str data in lower case to avoid inconsistent categories problem. Now we can check data again**

In [23]:
# print the unique values from columns

print(df['Item_Fat_Content'].unique())
print("\n")
print(df['Item_Type'].unique())
print("\n")
print(df['Outlet_Location_Type'].unique())
print("\n")
print(df['Outlet_Type'].unique())
print("\n")
print(df['Outlet_Size'].unique())

['low fat' 'regular' 'lf' 'reg']


['dairy' 'soft drinks' 'meat' 'fruits and vegetables' 'household'
 'baking goods' 'snack foods' 'frozen foods' 'breakfast'
 'health and hygiene' 'hard drinks' 'canned' 'breads' 'starchy foods'
 'others' 'seafood']


['tier 1' 'tier 3' 'tier 2']


['supermarket type1' 'supermarket type2' 'grocery store'
 'supermarket type3']


['medium' 'unknown' 'high' 'small']

**For any numerical columns, obtain the summary statistics of each (min, max, mean).**

In [24]:
# print min,max,mean from column data

df1=df.describe()
for i in df1.columns:
  print(i)
  print("Min:",df1[i].min())
  print("Max:",df1[i].max())
  print("Mean:",df1[i].mean())
  print()

Item_Weight
Min: 4.226123724532989
Max: 8523.0
Mean: 1075.5195517616007

Item_Visibility
Min: 0.0
Max: 8523.0
Mean: 1065.4527033128875

Item_MRP
Min: 31.29
Max: 8523.0
Mean: 1180.866156061296

Outlet_Establishment_Year
Min: 8.371760408092655
Max: 8523.0
Mean: 2564.1504533902116

Item_Outlet_Sales
Min: 33.29
Max: 13086.9648
Mean: 3907.614766163608